    <header>
        <div class="auth_text">
            {{#if isAuth}}
                <div class="log_wrapper">
                    <form action="/logout" method="GET">
                        <button class="logout_button">Log out</button>
                    </form>
                    <span>Loggined in system</span>
                </div>
            {{else}}
                <div class="auth_wrapper">
                    <a href="/login">Log in</a>
                    <a href="/register">Register</a>
                </div>
            {{/if}}
        </div>
    </header>