{{#if isUserPay}}
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="color: white; margin-bottom: 20px;">{{apiKey}}</h1>
    </div>
{{else}}
    <span>Pay for apikey!</span>
{{/if}}