<div>
    <h2>How can I get the API key?</h2>
    <span>You must login and pay 1 USD in paypal system, after that you can go to main page and click button "GO TO APIKEY".</span>
</div>
<div>
    <h2>Can i get API key for free?</h2>
    <span>Unfortunately, no.</span>
</div>
<div>
    <h2>In wich format I will get the data?</h2>
    <span>JSON object.</span>
</div>