<div>
    <h2>How many times apikey store in database?</h2>
    <span>API key lives for 1 day (1440 min.), after which it is deleted from the database.</span>
</div>
<div>
    <h2>How can I get the API key?</h2>
    <span>You must login and pay 1 USD in paypal system, after that you can go to main page and click button "GO TO API KEY".</span>
</div>