{{#if error}}
    <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; color: white; font-size: 22px;">
        <p class="alert">{{error}}</p>
        <form action="/login" method="POST">
            <div class="log_name">
                <h1 class="log_title">Log in</h1>
            </div>
            <div class="log_input">
                <input class="log_input_name" type="text" id="" placeholder="name" name="username" required>
                <input class="log_input_password" type="password" id="" placeholder="password" name="password" required>
            </div>
            <div class="log_confirm">
                <button class="confirm_button">Confirm</button>
            </div>
        </form>
    </div>
{{else}}
<form action="/login" method="POST">
    <div class="log_name">
        <h1 class="log_title">Log in</h1>
    </div>
    <div class="log_input">
        <input class="log_input_name" type="text" id="" placeholder="name" name="username" required>
        <input class="log_input_password" type="password" id="" placeholder="password" name="password" required>
    </div>
    <div class="log_confirm">
        <button class="confirm_button">Confirm</button>
    </div>
</form>
{{/if}}