{{#if isAuth}}
        {{#if isUserPay}}
                <a href="/apikey?payerId={{payerId}}&paymentId={{paymentId}}"><button class="apikey_link_button">GO TO API KEY</button></a>
        {{else}}
                <h1 class="instruction">To get API key, please click button below</h1>
                <form action="/pay" method="POST"><button class="getapi_button">PAY</button></form>
                <span>if you paid for the key, but there is no button GO TO APIKEY, reload the page</span>
        {{/if}}
{{else}}
        <h1 class="warning_text">Sorry, but to get api key, you must authorize</h1>
{{/if}}


