{{#if isAuth}}
<h1>Get your api now</h1>
<form action="/checkout" method="POST"><button class="getapibutton">GET API</button></form>
{{else}}
<h1>Sorry, but to get api, you must authorize</h1>
{{/if}}