.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_wrapper {
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00a3ee;
    box-shadow: 0px 0px 27px 0px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
}
form {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
input {
    outline: none;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px;
    background: none;
}
span {
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}
.card_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card_info > input {
    width: 45%;
}
.card_expired {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.card_expired > input {
    width: 45%;
}
form > button {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(0, 218, 145);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}
form > input {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}
input::placeholder {
    opacity: .7;
    color: white;
}